<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>  
</head>
<body> 
    <!-- search form -->
    <form class="myform" action="/search" method="POST">
        <input name="searchfor"/> 
        <button type="submit">display</button>
    </br>
        {% if symbols_list %}
            {% for symbol in symbols_list %}
              <a href="/api/{{symbol}}"> {{symbol}}</a>
    </br>
            {% endfor %}
        {% endif %}
    </form> 
    <!-- displaying the contents of particular stocks -->
    {% if response %}  
          <h3 style="color: rgb(255, 0, 0);">News:</h1>
          <a href="{{response['news'][0]['link']}}" target="_blank">{{response['news'][0]['title']}}</a> 
    {% endif %} 
</body> 
</html>